body{
    background-color:rgb(248, 247, 239);
    text-align: center;
}


h1{
    text-align: center;
    font-size: 35px;
    background:#5B504E;
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
}
.btn{
    margin: 5px;
}
.producto{
    margin: 7px;
    border: 1px solid rgb(61, 56, 56);
    background-color: rgb(255, 255, 254);
    width: 180px;
    height: 300px;
    .nProducto{
        font-size: 10px;
    }
    img{
        margin: 10px 0;
    }
    .precio{
        color:green;
        font-size: 25px;
        font-weight: bold;
    }
    .cantidad{
        color:green;
        font-size: 15px;
        font-weight: bold;
    }
    &:hover{
        border: 2px solid gray;
    }
}

#compra{
    width: 100%;
    background-color: rgb(134, 34, 34);
    display: inline-block;
    border: 1 px solid gray;
    border-radius: 3px;
    margin: 20px 50px 20px 0;
    position: sticky;
    top: 20px;
    p{
        color:  rgb(104, 103, 103);
    }
    .ticket{
        width: 100%;
        input{
            margin: 10px 0;
        }
    }
  
    .total, .detalle{
        font-size: 20px;
        color:black;
        
    }  

    #listaCompra>div{
        width: 60%;
        display: inline-block;
        border: 0.5px solid gray;
        border-radius: 5px;
        margin: 5px;
        list-style:none;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        &:hover{
            border: 2px solid gray;
        }
      
        .btn-danger{
            width: 20px;
            font-size: 8px;
            height: 10px;
        }
    }
    
}

ul{
    text-align: left;
}

#total{
    margin-top: 15px;
}

.ticket{
    width: 50%;
    display: inline-block;
    height: 300px;
    background-color: white;
}


